/* @tailwind base; */
@tailwind components;
@tailwind utilities;

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  font-weight: inherit;
}

.grecaptcha-badge {
  visibility: hidden;
}
